* {
    outline: none;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    font-family:'Helvetica Neue', Helvetica, sans-serif;
}

/* Header */
header {
    width: 100%;
}

header .background {
    background: #707070 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);  
    margin-bottom: 60px;
    height: 398px;
    padding: 16px;
}

header div{
    padding-top: 3rem;
}

header h4{
    text-align: center;
    font-size: 20px;
    color: #FFFFFF;
    margin: 0;
}

header h6{
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
    margin: 0 0 40px 0;
}

h1{
    text-align: center;    
    letter-spacing: 0px;
    color: #FFFFFF;
}

header nav{
    padding-top: 5.0rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

header nav ul li{
   display: inline-block;
   list-style: none;
   padding: 0;
   margin-left: 40px;
}

header nav ul li .btn{
    width: 130px;
	/* filter: drop-shadow(2px 2px 2px #888); */
}

a{
    color: #888888;
}

a.btn{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 4px;
    text-align: center;
    display: block;
    padding: 10px 40px;
    text-decoration: none;
}
a.btn:hover{
    text-decoration: none;
    background-color: #00000029;
    color: #fff;
}


/* Body */

div.body-help h5{
    text-align: left;
    font-size: 20px;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}

div.body-help p{
    text-align: left;
    font-size: 12px;
    letter-spacing: 0px;
    color: #888888;
}

form label{
    font: "Helvetica Neue";
    font-size: 12px;
    text-align: left;

    letter-spacing: 0px;
    color: #888888;
}

form div input{
    top: 441px;
    left: 870px;
    width: 340px;
    height: 30px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    margin-bottom: 2rem;
    
}

.btn-send{
    top: 670px;
    left: 870px;
    width: 340px;
    height: 39px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
}

.btn-more-send{
    margin-top: 40px;
	width: 300px;
	font-size: 18px;
    margin-top: 30px;
	text-align: center;
    width: 100%;
    margin-top: 30px;
}

.products-section .container .teste{
    display: inline;
}

.btn-buy{
    top: 1180px;
    left: 286px;
    width: 200px;
    height: 30px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
}
.products-section .container .image{
    top: 860px;
    left: 286px;
    width: 200px;
    height: 150px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
}

/* Products cards */
@media (min-width: 540px){
header div.section-header {
    text-align: center;
}

.products-section .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0rem auto 3.0rem;
}
.products-section .container .card{
    padding: 0rem 1.0rem;
    margin: 1.5rem auto;
    flex-direction: column;
    min-width: 21.0rem;
    max-width: 22.0rem;
    height: 35.0rem;
}
.products-section .container .card .image{
    width: 100%;
    height: 15.0rem;
    margin-right: 0rem;
    margin-bottom: 1.7rem;
}
  
.products-section .container .card .info{
    width: 100%;
    height: 19.46rem;
}

.products-section .container .card .info p:nth-of-type(1){
    display: initial;
}



}



/* Footer */
footer {
    margin-top: 50px;
    height: 293px; 
    background: #707070 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
}

footer {
    
display: table;
width: calc(100% - 40px);
transform: scale(1, -1); 
}

footer div {
    margin: 30px 0 100px;
}

footer div p {
    text-align: center;
    transform: scale(1, -1);
}

/* COLUMNS */
.col-25, .col-40, .col-50, .col-60 {
	display: table;
	float: left;
	margin: 0 2%;
}

.col-25 {
	width: 21%;
	/* Makes width 25% with the margin from above */
}

.col-40 {
	width: 36%;
	/* Makes width 40% with the margin from above */
}

.col-50 {
	width: 46%;
	/* Makes width 50% with the margin from above */
}

.col-60 {
	width: 56%;
	/* Makes width 60% with the margin from above */
}



